In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nirik\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nirik\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nirik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nirik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nirik\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nirik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nirik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [29]:
import pandas as pd
import selenium
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [6]:
driver= webdriver.Chrome(r"chromedriver.exe")

In [7]:
driver.get('https://www.naukri.com/')

In [8]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [9]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [10]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
import pandas as pd

In [13]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [14]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [15]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [16]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [17]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,"Data Analyst, Grp 4.3",Bangalore/Bengaluru,ANZ,5-9 Yrs
6,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs

## Answer 2

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get(' https://www.naukri.com/')

In [20]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [22]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [35]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [40]:
print(len(job_location),len(job_title),len(company_name))

10 10 10

In [28]:
import pandas as pd

In [41]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj
5,"Data Analyst, Grp 4.3",Bangalore/Bengaluru,ANZ
6,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services
7,Data Analyst,Bangalore/Bengaluru,Clarivate
8,Data Analyst,Bangalore/Bengaluru,Novel Office
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack

## Answer 3

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [44]:
driver.get(' https://www.naukri.com/')

In [45]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys('Data Scientist')

In [46]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [49]:
select_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]')
select_loc.click()

In [50]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [52]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [53]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [54]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [55]:
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    com=i.text
    company_name.append(com)

In [56]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [57]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs

## Answer 4

In [94]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [95]:
driver.get('https://www.flipkart.com/')

In [96]:
cancel=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cancel.click()

In [97]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [98]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [99]:
next_page=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.click()

In [100]:
brand=[]
product_description=[]
price=[]

In [101]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brand.append(i.text)
    time.sleep(3)

In [102]:

len(brand)

120

In [103]:
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags[0:100]:
        product_description.append(i.text)
    time.sleep(3)

[]

In [104]:
len(product_description)

120

In [105]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price.append(i.text)
    time.sleep(3)

In [106]:
len(price)

120

In [107]:
import pandas as pd

In [109]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price})
df

         Brand                                Product Description   Price
0    Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹129
1       PIRASO                 UV Protection Oval Sunglasses (54)    ₹239
2      MGKNYAH            Mirrored Aviator Sunglasses (Free Size)    ₹189
3       Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹2,000
4    Elligator             UV Protection Wayfarer Sunglasses (53)    ₹179
..         ...                                                ...     ...
115   PROVOGUE  Polarized, UV Protection Rectangular Sunglasse...    ₹699
116       SRPM  Others Wayfarer, Retro Square, Rectangular Sun...    ₹199
117  ROYAL SON   Polarized, UV Protection Aviator Sunglasses (58)    ₹711
118     SUNBEE   UV Protection Rectangular Sunglasses (Free Size)    ₹179
119    ALIXERO  UV Protection, Riding Glasses Retro Square Sun...    ₹297

[120 rows x 3 columns]

In [110]:
df[0:100]

           Brand                                Product Description   Price
0      Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹129
1         PIRASO                 UV Protection Oval Sunglasses (54)    ₹239
2        MGKNYAH            Mirrored Aviator Sunglasses (Free Size)    ₹189
3         Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹2,000
4      Elligator             UV Protection Wayfarer Sunglasses (53)    ₹179
..           ...                                                ...     ...
95  CRYSTAL CART  Polarized, Gradient, UV Protection Round Sungl...    ₹396
96     METRONAUT                   Gradient, UV Protection Sunglass    ₹249
97      Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹612
98      Fastrack              UV Protection Aviator Sunglasses (57)    ₹499
99  CRYSTAL CART  Polarized, UV Protection, Night Vision Retro S...    ₹296

[100 rows x 3 columns]

## Answer 5

In [60]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [61]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black+64+gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=d76dc5ab-d4fe-4fc9-a86f-a9d47af57019.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=61hoxkhoo00000001680776474567&qH=5f530f2df85791a0')

In [62]:
all= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all.click()

In [63]:
next_page=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.click()

In [64]:
ratings=[]

In [65]:

start=0
end=10
for page in range(start,end):
    ratings_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings_tags:
        ratings.append(i.text)

In [66]:
len(ratings)

100

In [67]:
review_summary=[]
start=0
end=10
for page in range(start,end):
    reviews=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviews:
        review_summary.append(i.text)

In [68]:
len(review_summary)

100

In [71]:
review_s=[]
start=0
end=10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        review_s.append(i.text)

In [72]:
len(review_s)

100

In [73]:
import pandas as pd

In [74]:
df=pd.DataFrame({'Rating':ratings,'Review Summary':review_summary,'Full Review':review_s})
df

,Rating,Review Summary,Full Review
0,5,Fabulous!,This is my first iOS phone. I am very happy wi...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

## Answer 6

In [122]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [123]:
driver.get('https://www.flipkart.com/')

In [124]:
cancel=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cancel.click()

In [125]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [126]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [127]:
next_page=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.click()

In [128]:
brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)

In [129]:
len(brand)

120

In [130]:
product_description=[]
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        product_description.append(i.text)

In [131]:
len(product_description)

120

In [132]:
price=[]
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)

In [133]:
len(price)

120

In [134]:
import pandas as pd

In [136]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price})
df

           Brand                                Product Description   Price
0    New Balance                               500 Sneakers For Men  ₹4,977
1       RapidBox                  Stylish & Trendy Sneakers For Men    ₹571
2         BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹279
3          BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
4          BIRDE                    Casual Shoes Sneakers For Women    ₹199
..           ...                                                ...     ...
115     Elevarse                                   Sneakers For Men    ₹259
116      BIG FOX                                   Sneakers For Men    ₹799
117         PUMA                        RS-X Mix Sneakers For Women  ₹3,999
118         aadi  Mesh| Lightweight| Premiun| Comfort| Summer Te...    ₹299
119        BIRDE           Trendy Comfortable Shoe Sneakers For Men    ₹499

[120 rows x 3 columns]

In [137]:
df[0:100]

          Brand                                Product Description   Price
0   New Balance                               500 Sneakers For Men  ₹4,977
1      RapidBox                  Stylish & Trendy Sneakers For Men    ₹571
2        BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹279
3         BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
4         BIRDE                    Casual Shoes Sneakers For Women    ₹199
..          ...                                                ...     ...
95        BIRDE            Combo Pack of 2 Sports Sneakers For Men    ₹499
96         PUMA                  RS-Z Reinvention Sneakers For Men  ₹6,191
97  SOLETHREADS                                   Sneakers For Men  ₹1,209
98       Kraasa        Casuals, Canvas, Partywear Sneakers For Men    ₹449
99        BIRDE  Stylish Comfortable Lightweight, Breathable Sh...    ₹379

[100 rows x 3 columns]

## Answer 7

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get('https://www.amazon.in/')

In [23]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptops')

In [24]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
button.click()

In [25]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[11]/span/a/div/label/i')
cpu_type.click()

In [26]:
title=[]
rating=[]
price=[]

In [27]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title.append(i.text)

In [32]:
len(title)

10

In [28]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating.append(i.text)

In [29]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price.append(i.text)

In [30]:
import pandas as pd

In [31]:
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating   Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    4.1  79,990
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    4.3  94,990
2  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...    4.4
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...
4  (Renewed) HP EliteBook 840 G5 TouchScreen Lapt...
5  HP Victus Gaming Latest 12th Gen Intel Core i7...
6  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...
7  (Renewed) Lenovo Thinkpad Laptop x270 Intel Co...
8  (Renewed) Dell Latitude Laptop 7390 Intel Core...
9  (Renewed) Dell Latitude E7470 Intel Core i7 6t...

## Answer 8

In [81]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [69]:
driver.get('https://www.azquotes.com/')

In [70]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
button.click()

In [71]:
next=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
next.click()

In [72]:
quote=[]
author=[]
type_of_quotes=[]

In [73]:
start=0
end=10
for page in range(start,end):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quote.append(i.text)

In [74]:
len(quote)

1000

In [75]:
start=0
end=10
for page in range(start,end):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        author.append(i.text)

In [76]:
len(author)

1000

In [77]:
start=0
end=10
for page in range(start,end):
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tag:
        type_of_quotes.append(i.text)

In [78]:
len(type_of_quotes)

1000

In [79]:
import pandas as pd

In [80]:
df=pd.DataFrame({'Quotes':quote,'Author':author,'Type of quotes':type_of_quotes})
df

,Quotes,Author,Type of quotes
0,Can words describe the fragrance of the very b...,Neltje Blanchan,"Spring, April, Fragrance"
1,"When everything seems to be going against you,...",Henry Ford,"Inspirational, Motivational, Positive"
2,Faith is to believe what you do not see; the r...,Saint Augustine,"Inspirational, Faith, Spiritual"
3,"I have found that if you love life, life will ...",Arthur Rubinstein,"Love, Inspirational, Life"
4,To disarm the people... was the best and most ...,George Mason,"Strength, Peace, Gun"
...,...,...,...
995,"When one door closes, another opens; but we of...",Alexander Graham Bell,"Love, Inspirational, Life"
996,"Don't find fault, find a remedy.",Henry Ford,"Inspirational, Motivational, Positive"
997,I used to think the worst thing in life was to...,Robin Williams,"Love, Life, Lonely"
998,Friends and good manners will carry you where ...,Margaret Walker,"Love, Inspirational, Friendship"
999,"If you want to make a permanent change, stop f...",T. Harv Eker,"Inspirational, Change, Inspiring"

## Answer 9

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get('https://www.jagranjosh.com/')

In [69]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [71]:
pm=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [72]:
name=[]
born_dead=[]

In [79]:
names=driver.find_elements(By.XPATH,'//div[@class="table-box"]')
for i in names:
    name.append(i.text)

name

In [80]:
name

["S.N.\nName\nBorn-Dead\nTerm of office\nRemark\n1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.\n2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India\n3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965\n4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-\n5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India\n6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term\n9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)\n10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence\n11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party\n12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from south India\n13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure\n14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal\n15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------\n16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM\n17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM\n18.\nNarendra Modi\n(born 1950)\n26 May 2014 - Present\n4th Prime Minister of India who served two consecutive tenures",
 'List of all Presidents of India List of Current Chief Ministers in India\nList of Nicknames of Indian Prime Ministers List of Chief Ministers of Karnataka (1947-2021)']

## Answer 10

In [38]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [39]:
driver.get('https://www.motor1.com/')

In [40]:
list=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
list.click()

In [42]:
feature=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
feature.click()

In [43]:
button=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
button.click()

In [45]:
clic=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
clic.click()

In [46]:
names=[]
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name[0:50]:
    names.append(i.text)

In [47]:
len(names)

50

In [48]:
names

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [49]:
prices=[]
price=driver.find_elements(By.XPATH,'//section[@class="trinity-skip-it"]')
for i in price:
    prices.append(i.text)

In [50]:
len(prices)

50

In [51]:
import pandas as pd

In [52]:
df=pd.DataFrame({'Name':names,'Price':prices})
df

                               Name Price
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*